body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #ff7e7e, #6dd5ed);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: #ddd;
  padding: 20px;
  border-radius: 8px;
}

#display {
  background: #222;
  color: white;
  font-size: 30px;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
}

.equal {
  grid-column: span 2;
  background: steelblue;
  color: white;
}